.LoginPage {
  position: relative;
  width: 30vw;
  min-width: 370px;
  margin: 200px auto;

  form {
    padding: 20px;
  }
}

.login_form {
  .form {
    position: relative;
    top: 10%;
  }
}

.login_item,
.signup_item {
  width: 50%;
  display: flex;
  justify-content: center;
}

.d-none {
  display: none;
}

.segment {
  height: 350px;
}

.moveHome {
  text-align: center;
  margin-top: 20px;

  a {
    font-size: 1.2rem;
  }
}

.login-alert,
.signup-alert {
  color: red;
  margin-top: 10px;
}
