@import "./utils";

.Header {
  display: flex;
  border-bottom: 1px solid black;
  justify-content: space-between;
  align-items: center;
  height: 63px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 10;

  .menu-item {
    margin: 0 8px;
  }
}
