@import "./utils";

.Search {
  width: 88vw;
  margin: auto;
  margin-top: 100px;
}

.search_area {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.ui.search .prompt {
  width: 300px;
  cursor: pointer;
}

ul.filter_list {
  display: flex;
}

ul.filter_list > li {
  margin: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.Cards {
  overflow-x: scroll;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  height: 500px;
  margin-top: 50px;
}

.CardList {
  width: 270px;
  height: 300px;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;

  .items_img {
    width: 100%;
    height: 200px;
    background-color: aquamarine;
  }

  .place_name {
    margin-top: 10px;
  }
}

.ui.card:first-child {
  margin-top: auto;
}

.ui.card:last-child {
  margin-bottom: auto;
}

.ui.card {
  margin: 1rem 0.5rem;
}

#Search {
  height: 100px;
  width: 100%;
}

.active {
  color: #faab78;
}
